PORT=5000
MONGODB_URI=mongodb://Testing:test1234@ac-ws8sxlh-shard-00-00.87harck.mongodb.net:27017,ac-ws8sxlh-shard-00-01.87harck.mongodb.net:27017,ac-ws8sxlh-shard-00-02.87harck.mongodb.net:27017/obe_fuzzy_ai?ssl=true&replicaSet=atlas-ocr843-shard-0&authSource=admin&retryWrites=true&w=majority&appName=obeCluster
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
ADMIN_SETUP_KEY=setup-admin-once
NODE_ENV=development
